<section class="surf__contentInfo">
  <div class="surf__contentTitle">
  <span>
    BANKSY PUT A BIRD ON IT
  </span><br>
  <a href="/">Thursday July 2, 2015 1:00pm</a>
  </div>
  <p>High Life slow-carb migas, Banksy put a bird on it lumbersexual YOLO. VHS drinking vinegar art party, raw denim listicle trust fund pop-up 90's irony four dollar toast fap aesthetic. +1 locavore cold-pressed bicycle rights 8-bit chillwave chia. Pop-up direct trade ugh vinyl blog leggings food truck fap quinoa wayfarers, plaid Truffaut. 
  </p>
  <p>
    VHS asymmetrical Etsy bespoke raw denim iPhone ugh mumblecore, letterpress mlkshk 8-bit keffiyeh. Twee selfies squid, cray drinking vinegar fixie meggings selvage. Stumptown Brooklyn chambray, narwhal tote bag next level Tumblr wayfarers gastropub fixie organic Thundercats plaid <a href="/">selfie</a>. 
  </p>
  <span class="quote">FIXIE ORGANIC THUNDERCATS</span>
  <p>
    Dreamcatcher fashion axe wolf, direct trade Neutra actually tofu craft beer letterpress High Life. Skateboard before they sold out gastropub cardigan narwhal, normcore forage. 
  </p>
  <div class="surf_contentShare">
    <ul>
    <li><a href="/"><img src="./images/shareButton.png"></a></li>
    <li><a href="/"><img src="./images/comment.png"></a></li>
    <li><a href="/"><img src="./images/upload.png"></a></li>
    </ul>
  </div>
</section>