<section class="surf__contentFiller">
  <div>
    <ul class="author">
      <li>
        <%= img_tag=("profpic.jpg") %>
      </li>
      <li>
        <span>SEBASTIAN HUFFLE</span>
      </li>
      <li>
        <ul class="social__mediaList">
          <li>
            <a href="/">Twitter</a>
          </li>
          <li>
            <a href="/">Facebook</a>
          </li>
          <li>
            <a href="/">Instagram</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="ad__space">
    <span><a href="/">About This Ad</a></span>
  </div>
  <div class="sidebar">
    <p>GLUTEN-FREE CRAY TOTE BAG</p>
    <p class="side__para">Chambray selfies butcher, plaid fanny pack mixtape put a bird on it fingerstache. Helvetica cred meh shabby chic. Messenger bag letterpress gluten-free slow-carb cliche Wes Anderson. Keytar DIY McSweeney's, gluten-free cray tote bag lumbersexual. Sriracha <a href="/">selfie</a> chillwave mustache Banksy. Selvage church-key Echo Park +1, whatever cred art party locavore Neutra skateboard flexitarian. Meditation Pitchfork pug before they sold out.
    </p>
  </div>
</section>