<footer class="surf__footer">
  <nav>
    <ul class="surf__footerNav">
      <li class="surf__footerNavList"><a href="/">Nav Item 1</a></li>
      <li class="surf__footerNavList">|</li>
      <li class="surf__footerNavList"><a href="/">Nav Item 2</a></li>
      <li class="surf__footerNavList">|</li>
      <li class="surf__footerNavList"><a href="/">Nav Item 3</a></li>
      <li class="surf__footerNavList"><a href="/">Nav Item 4</a></li>
    </ul>
  </nav>
  <ul class="title__logo footer__logo">
    <li><%= image_tag("tiylogo.png") %> </li>
    <li>The Ironyard Copyright 2013</li>
    <li>All Rights Reserved</li>
  </ul>
</footer>