<header class="surf__header">
  <ul class="title__logo">
    <li> <%= image_tag("beer.png") %> </li>
    <li class="blog__title">BREWS & BOARDS BLOG</li>
    <li class="credit">An Ironyard Project Est. Fall 2013</li>
  </ul>
  <nav class="surf__headerNav">
    <ul>
      <li><a href="/">ABOUT</a></li>
      <li><a href="/">SEARCH</a></li>
    </ul>
  </nav>
  <div class="big__title">
    <h1>BREWS & BOARDS CO.</h1>
    <span>An Ironyard Project Est. Fall 2013</span>
  </div>
</header>