<section class="surf__contentPopular">
  <span>POPULAR POSTS</span>
  <ul>
    <li class="related1">
      <a href="/post1"><span>PostTitle</span></a>
      
    </li>
    <li class="related2">
      <a href="/post2"><span>PostTitle</span></a>
      
    </li>
    <li class="related3">
      <a href="/post3"><span>PostTitle</span></a>
      
    </li>
    <li class="related4">
      <a href="/post4"><span>PostTitle</span></a>
      
    </li>
  </ul>
</section>